/* This is commented out */
* {
  font-size: 100%;
  margin:0;
  line-height: 1;
  box-sizing: border-box;
}

.background-picture {
  background-image: url(images/treeback.png)
}
.text-type {
  font-family: Fondamento, avant garde;
  text-align: center;
  color: Black;
}

/* .box-typeone {
  background-color: #00FF00;
  border-style: solid;
  border-width: 15px;
  border-color: green;
  border-radius: 75%;
} */

.picture-type {
  border-width: 10px;
  border-radius: 65%;
  border-color: #78300F;
  border-style: solid;
}

.body-text {
  text-align: left;
  font-family: Arial;
  font-size: 18px;
  padding-left: 200px;
  padding-right: 200px;
}

.backgroundcolor {
  background-color: #4286f4;
  padding: 30px;
}

.footerTextAlign {
  text-align: center;
}