
* {
  font-size: 100%;
  margin:0;
  line-height: 1;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-two {
  display: flex;
  margin-left: 16%;
  margin-right: 16%;
}

nav div {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

a {
  text-decoration: none;
  padding: 1px 1px;
  color: orange;
}

a:hover {
  text-decoration: underline;
}

.background-picture {
  background-image: url(images/treeicon.svg);
  background-repeat: no-repeat;
  background-size: relative;
  background-position: center;
}

.text-type {
  font-family: 'Fondamento', avant garde;
  text-align: center;
  font-size: 25px;
}

.picture-type {
  display: box;
  border-width: 10px;
  border-radius: 65%;
  border-color: #272410;
  border-style: solid;
  margin-left: 42%;
  margin-right: 42%;
  width: 16%;
  position: relative;
}

.element {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

h3 {
  text-align: center;
}

.body-text {
  text-align: left;
  font-family: 'Fondamento', Arial;
  font-size: 120%;
  font-weight: bold;
  font-kerning: normal;
}

.footerTextAlign {
  text-align: center;
  color: green;
  font-size: 114%;
  background-color: #99ff00;
  padding: 15px 25px;
}

blockquote {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
}
